---
const{title, paragraph, buttonText, variant, href} = Astro.props;

const CTAsectionClass = `CTAsection CTAsection--${variant}`;

import Link from "./Link.astro";
---

<article class = {CTAsectionClass}>
    <h2>{title}</h2>
    <p>{paragraph}</p>
    <Link text = {buttonText} href = {href} variant = "primary"></Link>
</article>

<style>

.CTAsection{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--padding-md);

    padding: var(--padding-md);
    min-height: 30vh;
    margin: 2vh 0px;
}

.CTAsection--green{
    background-color: #2ecc71;
    
}

h2{
    font-size: var(--font-size-2xl);
    color: var(--white);
}

p{
    font-size: var(--font-size-md);
}

.CTAsection--green p{
    color: #1a2b4c ;
}

.CTAsection--light-blue{
    background-color: #3498db;
    
}

.CTAsection--light-blue p{
    color: #dfdfdf ;
}
</style>
